  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root
{
    --e_blue: #16569a;
    --e_light: #FAFAFA;
}
.my-wrap-generator-tool{
  font-family: 'Poppins', sans-serif;
	margin: 0 auto;
}
.custom-form-generator-tool
{
    position: relative;
    margin-bottom: 1rem;
}
.custom-form-generator-tool > .custom-form-label > label
{
    position: relative;
    padding: 0px 1.5rem;
    text-align: center;
    font-size: 60%;
    margin-bottom: 0;
    bottom: -1px;
}
.custom-form-generator-tool > .custom-form-label > label
{
    color: #fff;
    background: var(--e_blue);
}
.custom-form-generator-tool > .custom-form-label > label::before
{
    top: 4px;
    left: -12px;
    border-radius: 6px 0 0 0;
    transform: rotate(35deg);
    background: linear-gradient(145deg, var(--e_blue) 56%, #ffffff00 50%);
}
.custom-form-generator-tool > .custom-form-label > label::before
{
    background: linear-gradient(145deg, var(--e_blue) 56%, #ffffff00 50%);
}
.custom-form-generator-tool > .custom-form-label > label::before,.custom-form-generator-tool > .custom-form-label > label::after
{
    position: absolute;
    content: '';
    display: block;
    width: 31px;
    height: 31px;
}
.custom-form-generator-tool > .custom-form-label > label::after
{
    top: 4px;
    right: -12px;
    border-radius: 0 6px 0 0;
    transform: rotate(-35deg);
    background: linear-gradient(215deg, #fff 56%, #ffffff00 50%);
}
.custom-form-generator-tool > .custom-form-label > label::after
{
    background: linear-gradient(215deg, var(--e_blue) 56%, #ffffff00 50%);
}
.custom-form-panel
{
    height: 90%;
}
.custom-form-generator-tool > .custom-form-control
{
    padding: .6rem 1rem;
    border-radius: 7px;
    min-width: 295px;
    text-align: center;
}
.custom-form-generator-tool > .custom-form-control
{
    border: solid 2px var(--e_blue);
    color: var(--e_blue);
    background: #FAFAFA;
}

.custom-form-control:focus
{
  outline: none;
}


.text-center {
    text-align: center!important;
}

.pb-5, .py-5 {
    padding-bottom: 3rem!important;
}
.pt-5, .py-5 {
    padding-top: 3rem!important;
}
input, textarea, .output {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	width: -webkit-fill-available;;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
#input {
	height: 30px;
}