.WA-ae {
  height: 80vh;
}

.WA-af {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.WA-ag {
  -webkit-box-pack: center;
  justify-content: center;
}

.WA-ah {
  -webkit-box-align: center;
  align-items: center;
}

.WA-ai {
  text-align: center;
}

.WA-aj {
  margin: 2rem 0;
}

.WA-ak {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.WA-al {
  border-width: 0;
}

.WA-am {
  border-style: none;
}

.WA-an {
  text-decoration: none;
}

.WA-ao {
  outline: none;
}

.WA-ap {
  -webkit-appearance: none;
}

.WA-aq {
  -webkit-transition-property: background;
  -moz-transition-property: background;
  transition-property: background;
}

.WA-ar {
  transition-duration: 0.25s;
}

.WA-as {
  transition-timing-function: cubic-bezier(0.2, 0.8, 0.4, 1);
}

.WA-at {
  cursor: pointer;
}

.WA-au:disabled {
  cursor: not-allowed;
}

.WA-av:disabled {
  background-color: #f6f6f6;
}

.WA-aw:disabled {
  color: #afafaf;
}

.WA-ax {
  margin-left: 2px;
}

.WA-ay {
  margin-top: 0;
}

.WA-az {
  margin-right: 2px;
}

.WA-b0 {
  margin-bottom: 0;
}

.WA-b1 {
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.WA-b2 {
  font-size: 16px;
}

.WA-b3 {
  font-weight: 500;
}

.WA-b4 {
  line-height: 24px;
}

.WA-b5 {
  border-top-right-radius: 30px;
}

.WA-b6 {
  border-bottom-right-radius: 30px;
}

.WA-b7 {
  border-top-left-radius: 30px;
}

.WA-b8 {
  border-bottom-left-radius: 30px;
}

.WA-b9 {
  padding-top: 6px;
}

.WA-ba {
  padding-bottom: 6px;
}

.WA-bb {
  padding-left: 12px;
}

.WA-bc {
  padding-right: 12px;
}

.WA-bd {
  color: #000000;
}

.WA-be {
  background-color: transparent;
}

.WA-bf:hover {
  background-color: #f6f6f6;
}

.WA-bg:focus {
  background-color: #f6f6f6;
}

.WA-bh:active {
  background-color: #eeeeee;
}

.WA-bi {
  margin-left: 0;
}

.WA-bj {
  margin-right: 3px;
}

.WA-bk {
  color: #ffffff;
}

.WA-bl {
  background-color: #000000;
}

.WA-bm:hover {
  background-color: #333333;
}

.WA-bn:focus {
  background-color: #333333;
}

.WA-bo:active {
  background-color: #545454;
}

.WA-bp {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.WA-bq {
  font-weight: normal;
}

.WA-br {
  font-size: 18px;
}

.WA-bs {
  line-height: 28px;
}

.WA-bt {
  font-size: 14px;
}

.WA-bu {
  line-height: 20px;
}

.WA-bv {
  margin-right: 0;
}

.WA-bw {
  border-top-right-radius: 38px;
}

.WA-bx {
  border-bottom-right-radius: 38px;
}

.WA-by {
  border-top-left-radius: 38px;
}

.WA-bz {
  border-bottom-left-radius: 38px;
}

.WA-c0 {
  padding-top: 12px;
}

.WA-c1 {
  padding-bottom: 12px;
}

.WA-c2 {
  padding-left: 16px;
}

.WA-c3 {
  padding-right: 16px;
}

.WA-c4 {
  background-color: #00b66c;
}

.WA-c5 {
  font-size: 12px;
}

.WA-c6 {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}

.WA-c7 {
  padding-left: 10px;
}

.WA-c8 {
  padding-right: 10px;
}

.WA-c9 {
  border-radius: 15px;
}

.WA-ca {
  margin: 15px;
}

.WA-cb {
  min-width: 220px;
}

.WA-cc {
  background-color: #fff;
}

.WA-cd {
  margin-top: 3rem;
}

.WA-ce {
  padding-bottom: 3rem;
}

.WA-cf {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.WA-cg {
  margin-bottom: 2rem;
}

.WA-ch {
  -webkit-box-lines: multiple;
  flex-wrap: wrap;
}

.WA-ci {
  background-color: rgb(238, 238, 238);
}

.WA-cj {
  padding-top: 1rem;
}

.WA-ck {
  padding-bottom: 1rem;
}

.WA-cl {
  margin: 3rem 0 4rem 0;
}

.WA-cm {
  margin: 50px auto;
}

.WA-cn {
  background: -webkit-linear-gradient(-45deg, #23a6d5, #23d5ab);
  background: -moz-linear-gradient(-45deg, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #23a6d5, #23d5ab);
}

.WA-co {
  min-height: 310px;
}

.WA-cp {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.WA-cq {
  border-radius: 10px;
}

.WA-cr {
  padding-top: 10px;
}

.WA-cs {
  margin-top: 60px;
}

.WA-ct {
  margin-bottom: 60px;
}

.WA-cu {
  margin-top: 50px;
}

.WA-cv {
  margin: 20px;
}

.WA-cw {
  max-width: 600px;
}

.WA-cx {
  margin: 60px 10px 10px 10px;
}

.WA-d1 {
  font-size: 2.5rem;
}

.WA-d2 {
  color: white;
}

.WA-d3 {
  height: 60px;
}

.WA-d4 {
  margin: 5px;
}

.WA-d5 {
  margin: 10px auto;
}

.WA-d6 {
  margin-bottom: 20px;
}

.WA-d7 {
  margin-top: 30px;
}

.WA-d8 {
  max-width: 450px;
}

.WA-d9 {
  height: 100%;
}

.WA-da {
  background-color: #ffffff;
}

.WA-db {
  display: inline-block;
}

.WA-dc {
  padding-top: 8px;
}

.WA-dd {
  padding-bottom: 8px;
}

.WA-de {
  border-top-right-radius: 20px;
}

.WA-df {
  border-top-left-radius: 20px;
}

.WA-dg {
  list-style-type: none;
}

.WA-dh {
  position: relative;
}

.WA-di {
  overflow: visible;
}

.WA-dj {
  margin-right: 8px;
}

.WA-dk {
  margin-top: calc((24px - 24px) / 2);
}

.WA-dl {
  width: 24px;
}

.WA-dm {
  height: 24px;
}

.WA-dn {
  border-top-left-radius: 24px;
}

.WA-do {
  border-top-right-radius: 24px;
}

.WA-dp {
  border-bottom-right-radius: 24px;
}

.WA-dq {
  border-bottom-left-radius: 24px;
}

.WA-dr {
  float: left;
}

.WA-ds {
  position: absolute;
}

.WA-dt {
  left: 11px;
}

.WA-du {
  top: 0;
}

.WA-dv {
  padding-bottom: 0;
}

.WA-dw {
  width: 2px;
}

.WA-dx {
  padding-top: 24px;
}

.WA-dy:after {
  content: "";
}

.WA-dz:after {
  display: inline-block;
}

.WA-e0:after {
  height: 100%;
}

.WA-e1:after {
  width: 100%;
}

.WA-e2:after {
  background-color: #eeeeee;
}

.WA-e3 {
  margin-left: 32px;
}

.WA-e4 {
  background-color: #e2e2e2;
}

.WA-e5 {
  color: #545454;
}

.WA-e6 {
  font-size: 36px;
}

.WA-e7 {
  line-height: 44px;
}

.WA-e8 {
  margin-top: 20px;
}

.WA-e9 {
  width: 100%;
}

.WA-ea {
  max-width: 510px;
}

.WA-ec {
  margin: 30px;
}

.WA-ed {
  max-width: 100px;
}

.WA-eg {
  display: block;
}

.WA-eh {
  padding-top: 0;
}

.WA-ei {
  padding-right: 0;
}

.WA-ej {
  padding-left: 0;
}

.WA-ek {
  margin-top: 8px;
}

.WA-el {
  margin-bottom: 8px;
}

.WA-em {
  margin-bottom: 16px;
}

.WA-en {
  box-sizing: border-box;
}

.WA-eo {
  border-width: 2px;
}

.WA-ep {
  border-style: solid;
}

.WA-eq {
  -webkit-transition-property: border, background-color;
  -moz-transition-property: border, background-color;
  transition-property: border, background-color;
}

.WA-er {
  border-top-left-radius: 10px;
}

.WA-es {
  border-bottom-left-radius: 10px;
}

.WA-et {
  border-top-right-radius: 10px;
}

.WA-eu {
  border-bottom-right-radius: 10px;
}

.WA-ev {
  border-color: #eeeeee;
}

.WA-ew {
  background-color: #eeeeee;
}

.WA-ex {
  width: 70px;
}

.WA-ey {
  border-top-left-radius: 0px;
}

.WA-ez {
  border-top-right-radius: 0px;
}

.WA-f0 {
  border-bottom-right-radius: 0px;
}

.WA-f1 {
  border-bottom-left-radius: 0px;
}

.WA-f2 {
  overflow: hidden;
}

.WA-f3 {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.WA-f4 {
  cursor: -webkit-text;
  cursor: text;
}

.WA-f5 {
  -webkit-transition-property: border, box-shadow, background-color;
  -moz-transition-property: border, box-shadow, background-color;
  transition-property: border, box-shadow, background-color;
}

.WA-f6 {
  border-color: transparent;
}

.WA-f7 {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.WA-f8 {
  flex-shrink: 1;
}

.WA-f9 {
  flex-basis: 0%;
}

.WA-fa {
  -webkit-box-lines: nowrap;
  flex-wrap: nowrap;
}

.WA-fb {
  padding-bottom: 10px;
}

.WA-fc {
  line-height: inherit;
}

.WA-fd {
  max-width: 100%;
}

.WA-fe {
  text-overflow: ellipsis;
}

.WA-ff {
  white-space: nowrap;
}

.WA-fg {
  word-wrap: normal;
}

.WA-fh {
  width: 32px;
}

.WA-fi {
  border: none;
}

.WA-fj {
  box-shadow: none;
}

.WA-fk {
  height: auto;
}

.WA-fl {
  max-height: 24px;
}

.WA-fm {
  box-sizing: content-box;
}

.WA-fn {
  width: 0;
}

.WA-fo {
  background: transparent;
}

.WA-fp {
  left: 0;
}

.WA-fq {
  visibility: hidden;
}

.WA-fr {
  height: 0;
}

.WA-fs {
  overflow: scroll;
}

.WA-ft {
  white-space: pre;
}

.WA-fu {
  flex-shrink: 0;
}

.WA-fv {
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.WA-fw {
  fill: currentColor;
}

.WA-fx {
  height: 16px;
}

.WA-fy {
  width: 16px;
}

.WA-fz {
  margin-left: 4px;
}

.WA-g0 {
  margin: 0;
}

.WA-g1 {
  padding-left: 4px;
}

.WA-g2 {
  padding-right: 14px;
}

.WA-g3 {
  caret-color: #000000;
}

.WA-g4::placeholder {
  color: #545454;
}

.WA-g5 {
  padding-left: 14px;
}

.WA-g6 {
  resize: none;
}

.WA-g7:hover {
  background-color: #e2e2e2;
}

.WA-g8:focus {
  background-color: #e2e2e2;
}

.WA-g9:active {
  background-color: #cbcbcb;
}

.WA-ga {
  margin-left: 5px;
}

.WA-gb {
  word-wrap: break-word;
}

.WA-gc {
  -webkit-box-pack: space-evenly;
  justify-content: space-evenly;
}

.WA-gd {
  margin-top: 10px;
}

.WA-ge {
  margin-bottom: 10px;
}

.WA-gf {
  color: #fff;
}

.WA-gg {
  background-color: #1fd1f9;
}

.WA-gh {
  background-image: -webkit-linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  background-image: -moz-linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
}

.WA-gi {
  padding: 1rem;
}

.WA-gj:hover {
  box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 5px;
}

.WA-gk {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.WA-gl {
  -webkit-box-align: end;
  align-items: flex-end;
}

.WA-gm {
  color: currentColor;
}

.WA-gn {
  height: 64px;
}

.WA-go {
  width: 64px;
}

.WA-gp {
  min-height: 450px;
}

.WA-gq {
  max-width: 280px;
}

.WA-gr {
  background-color: #ece5dd;
}

.WA-gs {
  background-color: #ededed;
}

.WA-gt {
  height: 50px;
}

.WA-gu {
  border-bottom: 1px solid #f0f1f2;
}

.WA-gv {
  width: 40px;
}

.WA-gw {
  height: 40px;
}

.WA-gx {
  margin: auto 5px;
}

.WA-gy {
  padding: 5px;
}

.WA-gz {
  border-radius: 50%;
}

.WA-h0 {
  min-height: 30px;
}

.WA-h1 {
  width: 250px;
}

.WA-h2 {
  border-radius: 50px;
}

.WA-h3 {
  margin-left: 10px;
}

.WA-h4 {
  background-color: #f0f0f0;
}

.WA-h5 {
  min-height: 50px;
}

.WA-h6 {
  bottom: 0px;
}

.WA-h7 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.WA-h8 {
  width: 30px;
}

.WA-h9 {
  height: 30px;
}

.WA-ha {
  bottom: 60px;
}

.WA-hb {
  right: 10px;
}

.WA-hc {
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.WA-hd {
  max-width: 200px;
}

.WA-he {
  padding: 10px;
}

.WA-hf {
  background-color: #dcf8c6;
}

.WA-hg {
  border-radius: 7.5px;
}

.WA-hh {
  padding: 35px 8px 35px 8px;
}

.WA-hi {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
}

.WA-hj {
  border-color: rgba(0, 0, 0, 0.2);
}

.WA-hk {
  border-width: 1px;
}

.WA-hl {
  margin: auto 10px;
}

.WA-hm {
  overflow-wrap: break-word;
}

.WA-hn {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.WA-ho {
  margin-top: 2rem;
}

.WA-hp {
  margin-bottom: 1rem;
}

.WA-hq {
  border-color: hsla(0, 0%, 0%, 0.12);
}

.WA-hr {
  border-top-left-radius: 4px;
}

.WA-hs {
  border-top-right-radius: 4px;
}

.WA-ht {
  border-bottom-right-radius: 4px;
}

.WA-hu {
  border-bottom-left-radius: 4px;
}

.WA-hv {
  overflow-x: scroll;
}

.WA-hw {
  box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.16);
}

.WA-hx {
  -webkit-box-flex: 0;
  flex-grow: 0;
}

.WA-hy {
  border-top: none;
}

.WA-hz {
  border-bottom: none;
}

.WA-i0 {
  border-left: none;
}

.WA-i1 {
  cursor: inherit;
}

.WA-i2:last-of-type {
  border-right: none;
}

.WA-i3 {
  overflow-x: hidden;
}

.WA-i4 {
  overflow-y: overlay;
}

.WA-i5 {
  flex: 1;
}

.WA-i6 {
  color: #ffff;
}

.WA-i7 {
  padding-left: 20px;
}

.WA-i8 {
  padding-right: 50px;
}

.WA-ic {
  font-size: 2rem;
}

.WA-id {
  min-height: 300px;
}

.WA-ie {
  padding-top: 16px;
}

.WA-if {
  padding-bottom: 16px;
}

.WA-ig {
  padding-right: 20px;
}

.WA-ih {
  border-bottom: 1px solid #e2e2e2;
}

.WA-ii:hover {
  color: #000000;
}

.WA-ij {
  background-color: #f6f6f6;
}

.WA-ik {
  padding-left: 24px;
}

.WA-il {
  padding-right: 24px;
}

.WA-im {
  max-height: 0;
}

.WA-in {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
}

.WA-io {
  transition-duration: 0.4s;
}

.WA-ip {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.WA-iq {
  margin: 70px 0;
}

.WA-ir {
  margin: 30px 0;
}

.WA-is {
  padding: 20px;
}

.WA-it {
  margin: 0 10px;
}
.CC {
  padding-left: 15px;
  padding-top: 7px;
}
@media screen and (min-width: 995px) {
  .WA-ee {
    display: none;
  }
}
@media screen and (max-width: 995px) {
  .WA-eb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .WA-ef {
    display: none;
  }
}
@media screen and (max-width: 660px) {
  .WA-i9 {
    text-align: center;
  }

  .WA-ia {
    padding-right: 20px;
  }

  .WA-ib {
    -webkit-box-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 528px) {
  .WA-cy {
    margin: 50px 10px 0px 10px;
  }
}
@media screen and (max-width: 468px) {
  .WA-cz {
    margin: 30px 10px 0px 10px;
  }
}
@media screen and (max-width: 350px) {
  .WA-d0 {
    margin: 20px 10px 0px 10px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.modal { font-family:Arial,Helvetica,sans-serif!important}
.modal p {font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important; color:#000 !important; font-size:14px;}
.modal-header{ padding: 20px 0 2px 0; }
.modal-content{
  padding: 0 20px 0 20px;
  width: 500px;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}